 <h2><%=  codes[0].TABLE_NAME%></h2>

  <table class="table table-bordered border-primary">
    <thead>
      <tr>
      
        <% for (var i = 0; i < codes.length; i++) { %>
          <th><%= codes[i].COLUMN_COMMENT %></th>
        <% } %>
        <th colspan="3"></th>
      </tr>
      <tr></tr>
    </thead>
    <tbody>
     
      <% if (list.length > 0) { %>
        <% for (var i = 0; i < list.length; i++) { %>
          <tr>
            <% for (var j = 0; j < codes.length; j++) { 
                 var colName = codes[j].COLUMN_NAME; %>
              <td><%= list[i][colName] %></td>
            <% } %>
            <td><a href="#">생성</a></td>
            <td><a href="#">수정</a></td>
            <td><a href="#">삭제</a></td>
          </tr>
         
        <% } %>
      <% } else { %>
        <tr><td colspan="<%= codes.length %>">자료가 없으니 추가해 주십시오.</td></tr>
      <% } %>
    </tbody>
  </table>

  <!-- 예시용 버튼 -->

</form>
